extends layout

block content
  div.container.user-mes
    img(src='/img/user.png')
    span#login-username
  div.container-fluid
    div.row-fluid
      div.span9.chat-content
      div.span2
        div.well.sidebar-nav.user-list
      div.row-fluid
        div.span10
          form.form-inline(action='#', method='post')
            textarea#send-message(rows='5')
            button.btn.btn-large.btn-success(type='submit') Post